@page "/employee"
<h3>Employee Forms</h3>

@inject NavigationManager nav
<NavLink class="nav-link" href="employee/hire">
    Employee Hire From
</NavLink>
<NavLink class="nav-item" href="employee/exit">
    Employee Exit From
</NavLink>
<NavLink class="nav-item" href="employee/change">
    Employee Change From
</NavLink>
@code {

}
