@page "/getpasswords"
<h3>Pwprovider</h3>
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDBContext db
@using System.Security.Claims
@using CarePartnersPortal.Data

<table class="table">
    <thread>
        <tr style="text-align:center">
            <th>Code</th>
            <th>Password</th>
        </tr>
        @foreach (Temppwholder pwd in pwds)
        {
            <tr>
                <td>@pwd.Code</td>
                <td>@pwd.Password</td>
            </tr>
        }
    </thread>
</table>


@code {

    private GlobalForm form = new GlobalForm();
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();
    private List<Temppwholder> pwds;
    private string currentUser;

    protected override async Task OnInitializedAsync()
    {
        await GetCurrentUser();
        GetInfoFromDB();
    }

    protected void GetInfoFromDB()
    {
        pwds = db.Temppwholders.Where(x => x.Access.Contains(currentUser)).ToList();
        foreach(Temppwholder pw in pwds)
        {
            pw.Password = CarePartnersPortal.Classes.Password.DecodeFrom64(pw.Password);
        }

    }

    private async Task GetCurrentUser()
    {
        currentUser = CarePartnersPortal.Classes.AD.GetCurrentUser(await AuthenticationStateProvider.GetAuthenticationStateAsync());
    }

}
