@page "/getpasswords"
<h3>Pwprovider</h3>
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DBContext db
@using System.Security.Claims


<table class="table">
    <thread>
        <tr style="text-align:center">
            <th>Code</th>
            <th>Password</th>
        </tr>
        @foreach (TempPW pwd in pwds)
        {
            <tr>
                <td>@pwd.Code</td>
                <td>@pwd.Password</td>
            </tr>
        }
    </thread>
</table>


@code {

    private GlobalForm form = new GlobalForm();
    private List<TempPW> pwds;
    private string currentUser;

    protected override async Task OnInitializedAsync()
    {
        await GetCurrentUser();
        GetInfoFromDB();
    }

    protected void GetInfoFromDB()
    {
        pwds = db.TempPWs.Where(x => x.Access.Contains(currentUser)).ToList();
        foreach(TempPW pw in pwds)
        {
            pw.Password = EncryptionService.DecodeString(pw.Password);
        }

    }

    private async Task GetCurrentUser()
    {
        currentUser = ADService.GetCurrentUser(await AuthenticationStateProvider.GetAuthenticationStateAsync());
    }

}
