@page "/adtools"
<h3>Component</h3>



@foreach(var ou in ous)
{
    <p>@ou</p>
}

@code {
    List<string> ous = new List<string>();
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ous = ADService.GetOperationsUserOUs();
            StateHasChanged();
        }
    }
}
