@page "/Admin/ITOrderItems"
@layout MainLayoutAdmin
@inject DBContext db
@inject NavigationManager nav
@attribute [Authorize(Policy = "Admin")]
<h3>IT Order Items</h3>
<EditForm Model="@orderItem">
    <table class="table">
        <thread>
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Price</th>
            </tr>

            @foreach (OrderItem item in orderItems)
            {
                <tr>
                    <td><InputText class="form-group" @bind-Value="item.Name" /></td>
                    <td><InputTextArea class="form-group" @bind-Value="item.Description" /></td>
                    <td><InputNumber class="form-group" @bind-Value="item.Price" /></td>
                    <td><button class="btn btn-primary" @onclick="() => Change(item)">Edit</button> <button class="btn btn-primary" @onclick="@(e => DeleteFromDB(item))">Delete</button></td>
                </tr>
            }

            <tr>
                <td><InputText class="form-control" @bind-Value="orderItem.Name" /></td>
                <td><InputTextArea class="form-control" @bind-Value="orderItem.Description" /></td>
                <td><InputNumber class="form-control" @bind-Value="orderItem.Price" /></td>
                <td><button class="btn btn-primary" @onclick="AddToDB">Add</button></td>
            </tr>
        </thread>
    </table>
</EditForm>

@code {

    List<OrderItem> orderItems = new List<OrderItem>();

    private OrderItem orderItem = new OrderItem();
    private GlobalForm form = new GlobalForm();

    protected override void OnInitialized()
    {
        GetInfoFromDB();
    }

    protected void GetInfoFromDB()
    {
        orderItems = db.OrderItems.ToList();

    }

    protected void AddToDB()
    {
        db.OrderItems.Add(orderItem);
        db.SaveChanges();
        nav.NavigateTo("/admin/ITOrderItems", true);
    }

    protected void DeleteFromDB(OrderItem orderItem)
    {
        db.OrderItems.Remove(orderItem);
        db.SaveChanges();
        nav.NavigateTo("/admin/ITOrderItems", true);
    }

    protected void Change(OrderItem item)
    {
        db.OrderItems.Update(item);
        db.SaveChanges();
        nav.NavigateTo("/admin/ITOrderItems", true);
    }
}