@page "/Incidents"

@inject NavigationManager nav
    <h3>Incidents</h3>
<NavLink class="nav-link" href="incidents/add">
    Create
</NavLink>
<NavLink class="nav-item" href="incidents/edit">
    Edit
</NavLink>
<NavLink class="nav-item" href="incidents/remove">
    Remove
</NavLink>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
    <tbody>
        @if (outages != null)
        {
            foreach (var outage in outages)
            {
                <tr>
                    <td>@outage.IncidentType</td>
                    <td>@outage.OutageStart</td>
                    <td>@outage.OutageEnd</td>
                    <td>@outage.Status</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<ITOutage> outages = new List<ITOutage>();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    protected void HandleValidSubmit()
    {

    }
}