@layout MainLayout
@page "/passwordgenerator"

<h3>Password Gen v2.0</h3>
<div>
    <label>Complexity Select</label>
    <select style="width:auto" @onchange="SetComplexity" class="form-control custom-select-sm" id="exampleFormControlSelect1">
        <option value="User">User</option>
        <option value="Admin">Admin</option>
        <option value="Service Account">Service Account</option>
    </select>
</div>
<div>
    <label>Number of Passwords</label>
    <input type="text" @bind="numberOfPasswords" />
</div>
<button class="btn btn-primary" @onclick="GetPassword">Get Password</button>
<br />
<br />

@if (passwordList != null)
{
    foreach (string password in passwordList)
    {
        @password
        <br />
    }
}

@code {
    private int numberOfLowerChar;
    private int numberOfUpperChar;
    private int numberOfNumberChar;
    private int numberOfSpecialChar;
    private string complexity;
    private string password;
    private int numberOfPasswords = 1;
    private List<string> passwordList = new List<string>();


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            complexity = "User";
            AdjustComplexityValues();
            StateHasChanged();
        }
    }

    Random rng = new Random();
    protected void GetPassword()
    {
        passwordList.Clear();

        for (int i = 1; i <= numberOfPasswords; i++)
        {
            password = PasswordService.New(numberOfUpperChar, numberOfLowerChar, numberOfNumberChar, numberOfSpecialChar);
            passwordList.Add(password);
        }
    }

    protected void SetComplexity(ChangeEventArgs e)
    {
        complexity = e.Value.ToString();
        AdjustComplexityValues();
    }

    protected void AdjustComplexityValues()
    {

        if (complexity == "User")
        {
            numberOfLowerChar = 2;
            numberOfUpperChar = 2;
            numberOfNumberChar = 2;
            numberOfSpecialChar = 2;
        }
        if (complexity == "Admin")
        {
            numberOfLowerChar = 3;
            numberOfUpperChar = 3;
            numberOfNumberChar = 2;
            numberOfSpecialChar = 2;
        }
        if (complexity == "Service Account")
        {
            numberOfLowerChar = 4;
            numberOfUpperChar = 4;
            numberOfNumberChar = 4;
            numberOfSpecialChar = 4;
        }
    }

}

